<mat-card class="shipping-card">
  <mat-card-header>
    <mat-card-title>Letters for word-creation</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">

          <input #lettersInput
              (keyup)="lettersChange(lettersInput.value)"
              matInput maxlength="9" placeholder="letters in row-order"
              [formControl]="lettersInputControl">

          <mat-hint align="end">{{lettersInput.value.length}} / 9</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>
